<ion-view title="Add Student">
  <ion-content>
    <div class="list list-inset" ng-controller="StudentCtrl">
        <label class="item item-input">
            <span class="input-label">First Name</span>
            <input ng-model='studFirstName' type='text' id='labelInput'  placeholder='Student First Name'>
        </label>
        <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input ng-model='studLastName' type='text' id='labelInput'  placeholder='Student Last Name'>
        </label>
        <label class="item item-input">
          <span class="input-label">Date of Birth</span>
          <input ng-model='studDOB' type='date' id='labelInput'>
        </label>
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-model='studEmail' type='email' id='labelInput'  placeholder='Student Email'>
        </label>
        <label class="item item-input">
            <span class="input-label">Phone</span>
            <input ng-model='studPhone' type='tel' id='labelInput'  placeholder='Student Phone'>
        </label>
        <label class="item item-input">
          <span class="input-label">Start Date</span>
          <input ng-model='studStart' type='date' id='labelInput'>
        </label>
        <label class="item item-input">
          <span class="input-label">End Date</span>
          <input ng-model='studEnd' type='date' id='labelInput'>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">
              Payment Type
          </span>
          <select ng-model="payType">
              <option selected>Casual</option>
              <option>Membership Cash/Card</option>
              <option>Membership Direct Debit</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Contact Name</span>
          <input ng-model='contName' type='text' id='labelInput'  placeholder='Contact Name'>
        </label>
        <label class="item item-input">
          <span class="input-label">Contact Number</span>
          <input ng-model='contPhone' type='tel' id='labelInput'  placeholder='Contact Phone'>
        </label>
        <button class="button button-dark icon-left ion-plus" ng-click="addStudent($event)">Add</button>
    </div>
  </ion-content>
</ion-view>

<!--
            studFirstName: $scope.studFirstName,
            studLastName: $scope.studLastName,
            studEmail: $scope.studEmail,
            studPhone: $scope.studPhone,
            studDOB: $scope.studDOB,
            contName: $scope.contName,
            contPhone: $scope.contPhone
            
-->