<ion-nav-bar class="bar-stable">
<ion-view title="Sign In">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="em"/>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="pwd"/>
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="login(em, pwd)">
          Login
        </button>
        <button ng-click="register(em, pwd)" class="button button-block button-dark">
          Register
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>