<ion-view title="Students">
  <ion-content>
    <div class="list">
      <ion-item ng-repeat="student in students|filter:user.password.email" type="item-text-wrap">
        {{student.studFirstName}} {{student.studLastName}}
        <span class="badge badge-dark">Email: {{student.studEmail}}</span>
      </ion-item>
      <div class="padding">
          <button class="button button-block button-dark icon-left ion-plus" onclick="location.href='#/menu/addStudent';">Add</button>
      </div>
    </div>
  </ion-content>
</ion-view>
