<ion-view title="Account">
  <ion-content>
    <div class="list">
      <div class="card" ng-hide="showLoginForm">
        <div class="item item-text-wrap">
          You are logged in as {{user.password.email}}
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-dark" ng-click="logout()">
          Logout
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
